<%- include('partials/header') %>

<div class="cartContent">
    <div class="cartButton">
        <button onclick="deleteItem()" class="deleteCart">REMOVE FROM BAG</button>
    </div>
    <div id="cartDetails">
    
    </div>
</div>

<script src="/bag.js"></script>
</body>
</html>