
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <div class="navbar">
            <img id="logo" src="/logo.png" alt="logo" height="">
            <div class="navButton">
                <a href="#">HOME</a>
                <a href="#men">MEN</a>
                <a href="#women">WOMEN</a>
            </div>
            <div class="bag">
                <a href="/views/bag.ejs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg> Bag</a>
            </div>
        </div>
    </header>
    
    <div class="content-container">
        <div class="text">
            <div class="typing-container">
                <h1 id="typing-heading"></h1>
                <div id="typing-caret"></div>
            </div>
            <script src="/main.js"></script>
        </div>
        
        <div class="slider-container">
            <div class="slider">
                <img src="https://images.unsplash.com/photo-1607083206869-4c7672e72a8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGRpc2NvdW50fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1556905055-8f358a7a47b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdGhlc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1526178613552-2b45c6c302f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZGlzY291bnR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1620799140408-edc6dcb6d633?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2xvdGhlc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1542992015-4a0b729b1385?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGRpc2NvdW50fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNsb3RoZXN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1546502208-81d149d52bd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGRpc2NvdW50fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1612423284934-2850a4ea6b0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNsb3RoZXN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1534349735944-2b3a6f7a268f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGRpc2NvdW50fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGNsb3RoZXN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src=https://images.unsplash.com/photo-1561069934-eee225952461?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNhbGV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1516763296043-f676c1105999?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGNsb3RoZXN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
                <img src="https://images.unsplash.com/photo-1650737736263-67daef292284?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fGRpc2NvdW50fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
              </div>
            <div class="dots">
              <span class="dot active"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <script src="/slider.js"></script>
        </div>
    
        <div class="genButton" align="center">
            <a href="#men"><button>Men</button></a>
            <a href="#women"><button>Women</button></a>
        </div>
    
        <div id="men">
            <h1 class="genHeading">Men's Wear:</h1>
            <div class="men">
                <div class="category">
                    <div class="shirt" onclick="menShirt()">
                        <img src="https://images.unsplash.com/photo-1578932750294-f5075e85f44a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNoaXJ0c3xlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
                        <h2>Shirt's</h2>
                    </div>
                </div>
                <div class="category">
                    <div class="jacket" onclick="menJacket()">
                        <img src="https://images.unsplash.com/photo-1533230464445-e01ef07c65c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGphY2tldHN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
                        <h2>Jacket's</h2>
                    </div>
                </div>
                <div class="category">
                    <div class="shoes" onclick="menShoes()">
                        <img src="https://images.unsplash.com/photo-1600054904350-1d493ae5f922?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNob2VzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
                        <h2>Shoes</h2>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="women">
            <h1 class="genHeading">Women's Wear:</h1>
            <div class="women">
                <div class="category">
                    <div class="shirt" onclick="womenShirt()">
                        <img src="https://images.unsplash.com/photo-1509319117193-57bab727e09d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZhc2hpb258ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
                        <h2>Shirt's</h2>
                    </div>
                </div>
                <div class="category">
                    <div class="jacket" onclick="womenJacket()">
                        <img src="https://plus.unsplash.com/premium_photo-1675186049302-a0dad4cf3412?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGphY2tldHN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
                        <h2>Jacket's</h2>
                    </div>
                </div>
                <div class="category">
                    <div class="shoes" onclick="womenShoes()">
                        <img src="https://plus.unsplash.com/premium_photo-1672883552545-0fd585304fad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHNob2VzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
                        <h2>Shoes</h2>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <%- include('partials/footer') %>
    
    <script>
        function menShirt() {
        window.location.href = "/category/male/shirt";
        }
        function menJacket() {
        window.location.href = "/category/male/jacket";
        }
        function womenShirt() {
        window.location.href = "/category/female/shirt";
        }
        function womenJacket() {
        window.location.href = "/category/female/jacket";
        }
    </script>
    
</body>
</html>
    

